@model MemoryLeakSample.NotificationViewModels.SMNotificationViewModel

<p>
    При передаче трудозатрат из системы HPSM возникла ошибка: для проекта <a href="@(Model.ProjectUrl)">@Model.ProjectName</a> задача <a href="@(Model.TaskUrl)">@Model.TaskName</a> закрыта.<br />
    Списания на закрытую задачу запрещены
</p>
