<nav class="navbar navbar-default">
    <div>
        <div class="navbar-header">
            <a href="#/" class="navbar-brand">Pete</a>
        </div>
        <div class="navbar-collapse collapse">
            <nav class="navnavbar-logo">
                <ul class="nav navbar-nav">
                    <li><a href="#/main">Main page</a></li>
                    <li><a href="#/">Welcome</a></li>
                    <li><a href="#/welcome2">Welcome 2</a></li>
                    <li><a href="#/welcome3">Welcome 3</a></li>
                    <li><a href="#/mine">Mine</a> </li>
                    <li><a href="#/modal">Modal window</a> </li>
                    <li><a href="#/kendo_modal">Modal window from kendo tut</a> </li>
                    <li><a href="#/grid">Grid</a></li>
                    <li><a href="#/dataSource">Data source</a></li>
                    <li><a href="#/globalEvents">Global events</a></li>
                </ul>
            </nav>
        </div>
    </div>
</nav>