<?xml version="1.0" encoding="utf-8" ?>
<Settings>
  <Setting1>
    <LittleSetting11>qwerty</LittleSetting11>
    <LittleSetting12>qwerty</LittleSetting12>
    <LittleSetting13>qwerty</LittleSetting13>
    <LittleSetting14>qwerty</LittleSetting14>
  </Setting1>
  <Setting2>
    <LittleSetting11>qwerty</LittleSetting11>
    <LittleSetting12>qwerty</LittleSetting12>
    <LittleSetting13>qwerty</LittleSetting13>
    <LittleSetting14>qwerty</LittleSetting14>
  </Setting2>
  <Setting3>
    <LittleSetting11>qwerty</LittleSetting11>
    <LittleSetting12>qwerty</LittleSetting12>
    <LittleSetting13>qwerty</LittleSetting13>
    <LittleSetting14>qwerty</LittleSetting14>
  </Setting3>
  <Setting4>
    <LittleSetting11>qwerty</LittleSetting11>
    <LittleSetting12>qwerty</LittleSetting12>
    <LittleSetting13>qwerty</LittleSetting13>
    <LittleSetting14>qwerty</LittleSetting14>
  </Setting4>
  <Setting5>
    <LittleSetting11>qwerty</LittleSetting11>
    <LittleSetting12>qwerty</LittleSetting12>
    <LittleSetting13>qwerty</LittleSetting13>
    <LittleSetting14>qwerty</LittleSetting14>
  </Setting5>
</Settings>
